arduino-mqtt/flows.json
[
	{
		"id": "774628f2.150578",
		"type": "tab",
		"label": "Flow 1",
		"disabled": false,
		"info": ""
	},
	{
		"id": "7b09f3ef.a6a65c",
		"type": "mqtt out",
		"z": "774628f2.150578",
		"name": "",
		"topic": "WhatTheFar",
		"qos": "",
		"retain": "",
		"broker": "d1b06e83.60492",
		"x": 460,
		"y": 54,
		"wires": []
	},
	{
		"id": "f7d760d0.3cbea",
		"type": "inject",
		"z": "774628f2.150578",
		"name": "",
		"topic": "",
		"payload": "{\"name\": \"Far\"}",
		"payloadType": "json",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 260,
		"y": 54,
		"wires": [["7b09f3ef.a6a65c"]]
	},
	{
		"id": "db86d889.15f1c8",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "LOCKER/temperature",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 259,
		"y": 266,
		"wires": [["25ef21d.d4c91de"]]
	},
	{
		"id": "25ef21d.d4c91de",
		"type": "ui_chart",
		"z": "774628f2.150578",
		"name": "",
		"group": "f402cc56.90324",
		"order": 2,
		"width": 0,
		"height": 0,
		"label": "Temperature (*C)",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "5",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 506.5,
		"y": 266,
		"wires": [[]]
	},
	{
		"id": "2c0a574.96670a8",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "LOCKER/humidity",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 248,
		"y": 343,
		"wires": [["ab08167.08665e8"]]
	},
	{
		"id": "412d746f.e046fc",
		"type": "ui_switch",
		"z": "774628f2.150578",
		"name": "LED",
		"label": "switchLED",
		"tooltip": "",
		"group": "f402cc56.90324",
		"order": 3,
		"width": 0,
		"height": 0,
		"passthru": true,
		"decouple": "false",
		"topic": "LOCKER/LED",
		"style": "",
		"onvalue": "on",
		"onvalueType": "str",
		"onicon": "",
		"oncolor": "",
		"offvalue": "off",
		"offvalueType": "str",
		"officon": "",
		"offcolor": "",
		"x": 210.5,
		"y": 200,
		"wires": [["5b7a04dc.e7a93c"]]
	},
	{
		"id": "5b7a04dc.e7a93c",
		"type": "mqtt out",
		"z": "774628f2.150578",
		"name": "",
		"topic": "LOCKER/LED",
		"qos": "",
		"retain": "",
		"broker": "d1b06e83.60492",
		"x": 432,
		"y": 200,
		"wires": []
	},
	{
		"id": "ab08167.08665e8",
		"type": "ui_gauge",
		"z": "774628f2.150578",
		"name": "Humidity",
		"group": "f402cc56.90324",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Humidity (%)",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": 10,
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"x": 455.5,
		"y": 343,
		"wires": []
	},
	{
		"id": "c157fc9d.a7f8",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "vCANTEEN/temperature",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 265,
		"y": 549,
		"wires": [["d618f195.210fe"]]
	},
	{
		"id": "d618f195.210fe",
		"type": "ui_chart",
		"z": "774628f2.150578",
		"name": "",
		"group": "b1a9cd1e.9de84",
		"order": 2,
		"width": 0,
		"height": 0,
		"label": "Temperature (*C)",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "5",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 502.5,
		"y": 549,
		"wires": [[]]
	},
	{
		"id": "4914228.b7f82dc",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "vCANTEEN/humidity",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 246,
		"y": 618,
		"wires": [["329b9fc0.f1eec"]]
	},
	{
		"id": "329b9fc0.f1eec",
		"type": "ui_gauge",
		"z": "774628f2.150578",
		"name": "Humidity",
		"group": "b1a9cd1e.9de84",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Humidity (%)",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": 10,
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"x": 453.5,
		"y": 618,
		"wires": []
	},
	{
		"id": "b1fc59f2.067938",
		"type": "ui_switch",
		"z": "774628f2.150578",
		"name": "LED",
		"label": "switchLED",
		"tooltip": "",
		"group": "b1a9cd1e.9de84",
		"order": 3,
		"width": 0,
		"height": 0,
		"passthru": true,
		"decouple": "false",
		"topic": "LOCKER/LED",
		"style": "",
		"onvalue": "on",
		"onvalueType": "str",
		"onicon": "",
		"oncolor": "",
		"offvalue": "off",
		"offvalueType": "str",
		"officon": "",
		"offcolor": "",
		"x": 209,
		"y": 479,
		"wires": [["465d310a.e6162"]]
	},
	{
		"id": "465d310a.e6162",
		"type": "mqtt out",
		"z": "774628f2.150578",
		"name": "",
		"topic": "vCANTEEN/LED",
		"qos": "",
		"retain": "",
		"broker": "d1b06e83.60492",
		"x": 430.5,
		"y": 479,
		"wires": []
	},
	{
		"id": "7e32ede3.cd83b4",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "CUMAP/temperature",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 263,
		"y": 831,
		"wires": [["35819a7b.7432e6"]]
	},
	{
		"id": "35819a7b.7432e6",
		"type": "ui_chart",
		"z": "774628f2.150578",
		"name": "",
		"group": "df39b502.bf4498",
		"order": 2,
		"width": 0,
		"height": 0,
		"label": "Temperature (*C)",
		"chartType": "line",
		"legend": "false",
		"xformat": "HH:mm:ss",
		"interpolate": "linear",
		"nodata": "",
		"dot": false,
		"ymin": "",
		"ymax": "",
		"removeOlder": "5",
		"removeOlderPoints": "",
		"removeOlderUnit": "60",
		"cutout": 0,
		"useOneColor": false,
		"colors": [
			"#1f77b4",
			"#aec7e8",
			"#ff7f0e",
			"#2ca02c",
			"#98df8a",
			"#d62728",
			"#ff9896",
			"#9467bd",
			"#c5b0d5"
		],
		"useOldStyle": false,
		"outputs": 1,
		"x": 510.5,
		"y": 831,
		"wires": [[]]
	},
	{
		"id": "e77c3359.b745f",
		"type": "mqtt in",
		"z": "774628f2.150578",
		"name": "",
		"topic": "CUMAP/humidity",
		"qos": "2",
		"datatype": "auto",
		"broker": "d1b06e83.60492",
		"x": 244,
		"y": 900,
		"wires": [["ff2d645b.a21b08"]]
	},
	{
		"id": "ff2d645b.a21b08",
		"type": "ui_gauge",
		"z": "774628f2.150578",
		"name": "Humidity",
		"group": "df39b502.bf4498",
		"order": 1,
		"width": 0,
		"height": 0,
		"gtype": "gage",
		"title": "Humidity (%)",
		"label": "units",
		"format": "{{value}}",
		"min": 0,
		"max": 10,
		"colors": ["#00b500", "#e6e600", "#ca3838"],
		"seg1": "",
		"seg2": "",
		"x": 461.5,
		"y": 900,
		"wires": []
	},
	{
		"id": "e9e2b7e3.7df728",
		"type": "ui_switch",
		"z": "774628f2.150578",
		"name": "LED",
		"label": "switchLED",
		"tooltip": "",
		"group": "df39b502.bf4498",
		"order": 3,
		"width": 0,
		"height": 0,
		"passthru": true,
		"decouple": "false",
		"topic": "LOCKER/LED",
		"style": "",
		"onvalue": "on",
		"onvalueType": "str",
		"onicon": "",
		"oncolor": "",
		"offvalue": "off",
		"offvalueType": "str",
		"officon": "",
		"offcolor": "",
		"x": 217,
		"y": 761,
		"wires": [["d4d2bf84.65fc"]]
	},
	{
		"id": "d4d2bf84.65fc",
		"type": "mqtt out",
		"z": "774628f2.150578",
		"name": "",
		"topic": "CUMAP/LED",
		"qos": "",
		"retain": "",
		"broker": "d1b06e83.60492",
		"x": 428.5,
		"y": 761,
		"wires": []
	},
	{
		"id": "d1b06e83.60492",
		"type": "mqtt-broker",
		"z": "",
		"name": "MQTTdashboard",
		"broker": "broker.mqttdashboard.com",
		"port": "1883",
		"clientid": "",
		"usetls": false,
		"compatmode": true,
		"keepalive": "60",
		"cleansession": true,
		"birthTopic": "",
		"birthQos": "0",
		"birthPayload": "",
		"closeTopic": "",
		"closeQos": "0",
		"closePayload": "",
		"willTopic": "",
		"willQos": "0",
		"willPayload": ""
	},
	{
		"id": "f402cc56.90324",
		"type": "ui_group",
		"z": "",
		"name": "LOCKER",
		"tab": "92297cde.e332c",
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "b1a9cd1e.9de84",
		"type": "ui_group",
		"z": "",
		"name": "vCANTEEN",
		"tab": "92297cde.e332c",
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "df39b502.bf4498",
		"type": "ui_group",
		"z": "",
		"name": "CUMAP",
		"tab": "92297cde.e332c",
		"disp": true,
		"width": "6",
		"collapse": false
	},
	{
		"id": "92297cde.e332c",
		"type": "ui_tab",
		"z": "",
		"name": "Home",
		"icon": "dashboard",
		"disabled": false,
		"hidden": false
	}
]
