opencv/open-cv-flows.json
[
	{
		"id": "14d283bd.56105c",
		"type": "tab",
		"label": "Flow 1",
		"disabled": false,
		"info": ""
	},
	{
		"id": "86e03e90.46332",
		"type": "opencv",
		"z": "14d283bd.56105c",
		"detect": "FACE_CASCADE",
		"output": "buffer",
		"name": "",
		"x": 872.5,
		"y": 134,
		"wires": [["9c9d387f.a89a78"]]
	},
	{
		"id": "df1629ee.8aba68",
		"type": "image",
		"z": "14d283bd.56105c",
		"name": "",
		"width": "500",
		"x": 563.5,
		"y": 244,
		"wires": []
	},
	{
		"id": "f4b69f0a.e3ec1",
		"type": "http request",
		"z": "14d283bd.56105c",
		"name": "",
		"method": "GET",
		"ret": "bin",
		"paytoqs": false,
		"url": "https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2019/03/06/105778579-1551902059431rtx6py6d.530x298.jpg?v=1552317438",
		"tls": "",
		"proxy": "",
		"authType": "basic",
		"x": 337.5,
		"y": 136,
		"wires": [["df1629ee.8aba68", "86e03e90.46332"]]
	},
	{
		"id": "cc66848f.3cefc8",
		"type": "inject",
		"z": "14d283bd.56105c",
		"name": "",
		"topic": "",
		"payload": "",
		"payloadType": "date",
		"repeat": "",
		"crontab": "",
		"once": false,
		"onceDelay": 0.1,
		"x": 134.5,
		"y": 136,
		"wires": [["f4b69f0a.e3ec1"]]
	},
	{
		"id": "9c9d387f.a89a78",
		"type": "image",
		"z": "14d283bd.56105c",
		"name": "",
		"width": "500",
		"x": 1083,
		"y": 241,
		"wires": []
	}
]
